/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#0FA3B1; opacity: 1.0 !important;}
#colorbox{padding-top: 80px !important; }
    #cboxContent{margin-top:90px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border:3px solid #A0CAE1; background:#fff;}
        #cboxTitle{position:absolute; top:-90px; left:0; color:#0FA3B1; background: url(images/header.png) top center no-repeat; width: 90%; height:114px; background-size: 640px; padding-top:65px; text-align: right;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}
        #cboxContent td {
            padding: 10px;
            background: #FEFEFE;
            border-collapse: collapse;
        }
        #cboxContent tr {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 7px solid #fff;
        }
        #cboxContent table {
            border-collapse: collapse;
            margin: 0 -10px;
        }
        #cboxContent button {
            display: block;
            margin-top: 5px;
            background: #35BFC5;
              background-image: -webkit-linear-gradient(top, #35BFC5, #2c9a9e);
              background-image: -moz-linear-gradient(top, #35BFC5, #2c9a9e);
              background-image: -ms-linear-gradient(top, #35BFC5, #2c9a9e);
              background-image: -o-linear-gradient(top, #35BFC5, #2c9a9e);
              background-image: linear-gradient(to bottom, #35BFC5, #2c9a9e);
              -webkit-border-radius: 22;
              -moz-border-radius: 22;
              border-radius: 22px;
              font-family: Arial;
              color: #ffffff;
              font-size: 12px;
              padding: 6px 15px 6px 15px;
              text-decoration: none;
            border: none !important;
        }
        .#cboxContent button:hover {
              background: #3cb0fd;
              background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
              background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
              background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
              background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
              background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
              text-decoration: none;
}
        #cboxContent strong {
            color: #0FA3B1;
            font-size: 120%;
            font-weight: normal;
        }